body {
    margin: 0;
    padding: 0;
}

.container,
.button-container,
.grid-buttons,
.color-buttons,
.grid-container,
.color-container {
    display: flex;
    flex-wrap: wrap;
}

.container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.button-container {
    justify-content: center;
    align-content: flex-start;
    margin: 25px 0;
    width: 500px;
    gap: 25px;
}

.grid-buttons,
.color-buttons {
    gap: 25px;
}

.grid-container {
    justify-content: center;
    align-content: flex-start;
    /* height: 95vh; */
    /* Width defaults to 672px. Grid of 40px plus left border of 1 px and right border of 1 px all multiplied by 16 is 672px. */
    width: 672px;
}

.color-container {
    margin: 25px 0;
    gap: 25px;
}

.grid,
.special-grid {
    background-color: white;
    /* Height and width start at 40px but change via inline styling when setting a new number of grids. */
    height: 40px;
    width: 40px;
    /* margin: 1px; */
    border: solid black 1px;
}

.hover {
    background-color: coral;
}