button {
    margin: 50px 0;
}

.container,
.grid-container {
    display: flex;
    flex-wrap: wrap;
}

.container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.grid-container {
    justify-content: center;
    align-content: flex-start;
    /* height: 95vh; */
    /* Width defaults to 672px. Grid of 40px plus left border of 1 px and right border of 1 px all multiplied by 16 is 672px. */
    width: 1000px;
}

.grid {
    background-color: whitesmoke;
    height: 40px;
    width: 40px;
    /* margin: 1px; */
    border: solid black 1px;
}

.hover {
    background-color: coral;
}